name: CI

on:
  push:
    branches:
      - main
      - '**/*.x'
  pull_request:
    branches:
      - '**'

jobs:
  tests:
    name: PHP ${{ matrix.php }} ${{ matrix.stability }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['8.2', '8.3', '8.4']
        stability: ["--prefer-lowest", "--prefer-stable"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: ${{ matrix.php == '8.4' && matrix.stability == '--prefer-stable' && 'xdebug' || 'none' }}
          tools: composer:v2
          ini-values: memory_limit=-1
          extensions: mbstring, intl, bcmath, pcntl

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-${{ matrix.stability }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.php }}-${{ matrix.stability }}-composer-

      - name: Resolve and install dependencies
        run: composer update --no-interaction --no-progress --prefer-dist ${{ matrix.stability }}

      - name: Lint (Pint)
        run: composer lint

      - name: Static Analysis (PHPStan)
        if: ${{ matrix.stability == '--prefer-stable' }}
        run: composer analyze -- --no-progress

      - name: Run Tests (PHPUnit)
        run: |
          if [[ "${{ matrix.php }}" == "8.4" && "${{ matrix.stability }}" == "--prefer-stable" ]]; then
            composer test -- \
            --testdox \
            --coverage-clover coverage.xml
          else
            composer test -- \
            --testdox \
            --no-coverage
          fi

      - name: Upload coverage to artifacts
        if: matrix.php == '8.4' && matrix.stability == '--prefer-stable'
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml


  sonarqube:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    needs: tests
    if: github.actor != 'dependabot[bot]'

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report

      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: SonarQube Quality Gate check
        uses: SonarSource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
